.default-text-highlight {
    color: purple;
    font-weight: bold;
}

.default-vocab-word {
    color: royalblue;
    border-bottom: 1px dotted royalblue;
    cursor: pointer;
    font-weight: bold;
}